{% extends "master.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
	<h2>{% trans 'text_link_overview' %}</h2>
</div>

{% if not user_projects and not user_devrooms  and not user_sponsorings and not user_sponsoring_member %}
	<p class="lead">
		{% trans 'text_welcome' %}
	</p>
	<p class="lead">
		{% trans 'text_portal_use' %}
		<ul class="lead">
			<li>{% trans 'text_add_booth' %}</li>
			<li>{% trans 'text_add_talk' %}</li>
			<li>{% trans 'text_add_workshop' %}</li>
		</ul>
	</p>
	<div style="text-align: center; margin-top: 50px">
		<h2>{% trans 'text_what_to_do' %}</h2>
		<a href="{% url 'project_new' %}" class="btn btn-lg btn-primary">{% trans 'text_register_project' %}</a>
	</div>
{% else %}
	<p class="lead">Hi {{user.first_name}} {{user.last_name}}, <small>(<a href="https://login.make-munich.de/module.php/selfregister/reviewUser.php">{% trans 'text_not_correct' %}</a>)</small></p>

	{% if user_sponsorings %}
	<p class="lead">{% trans 'text_sponsor_admin' %}</p>
	<ul class="lead">
		{% for sponsoring in user_sponsorings %}
			<li><a href="{% url 'sponsor_overview' pk=sponsoring.id %}">
				{% if sponsoring.displayCompanyName %}
				{{sponsoring.displayCompanyName}}
				{% else %}
				{{sponsoring.contact.companyName}}
				{% endif %}
			</a></li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if user_sponsoring_member %}
	<p class="lead">{% trans 'text_booth_personal' %}</p>
	<ul class="lead">
		{% for project in user_sponsoring_member %}
			<li>{{project.contact.companyName}}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if user_projects %}
	<p class="lead">{% trans 'text_involved_project' %}</p>
	<ul class="lead">
		{% for project in user_projects %}
			<li><a href="{% url 'project_update_general' pk=project.id %}">{{project.projectName}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}

	<div style="text-align: center; margin-top: 50px">
		<h2>{% trans 'text_register_more_project' %}</h2>
		<a href="{% url 'project_new' %}" class="btn btn-lg btn-primary">{% trans 'text_register_another_project' %}</a>
	</div>
{% endif %}
{% endblock %}
