{% load i18n %}
{% load sponsor %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{CONFERENCE_NAME}} SaBoT</title>
		<meta charset="utf-8" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<link rel="shortcut icon" href="/static/favicon.png">
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}tablesorter/themes/my/style.css" rel="stylesheet">
		<link href="{{STATIC_URL}}cfp.css" rel="stylesheet">
		<script src="{{STATIC_URL}}cfp.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}typeahead.bundle.js" type="text/javascript"></script>
		<link href="{{STATIC_URL}}typeahead.css" rel="stylesheet">
		<link href="{{STATIC_URL}}lang/bootstrap-select.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}lang/flag-icon.min.css" rel="stylesheet">
		<script src="{{STATIC_URL}}lang/bootstrap-select.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}tablesorter/jquery.tablesorter.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}tablesorter/tablesorter.custom.js" type="text/javascript"></script>
		<script>
			$(document).ready(function () {
				$(function(){
    				$('.selectpicker').selectpicker();
				});
				$("[data-toggle=tooltip]").not("ul.nav a").not("label > span").tooltip();
				$("ul.nav a[data-toggle=tooltip], span[data-toggle=tooltip]").tooltip({ container: "body" });
				$(".multiYear-selector").click(function () {
					setConferenceYear($(this).data("year"));
				});
			});
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
				}
			});
		</script>
	</head>
	<body>
		<div id="wrap">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
					<ul class="nav navbar-nav">
					<li>
						{% load i18n %}
						<form class="navbar-form navbar-left" action="{% url 'set_language' %}" method="post">{% csrf_token %}
							<input class="form-control" name="next" type="hidden" value="{{ redirect_to }}">
							<select class="selectpicker form-control" data-width="fit" name="language" onchange='this.form.submit()'>
								{% get_current_language as LANGUAGE_CODE %}
								{% get_available_languages as LANGUAGES %}
								{% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
									<option data-content='<span class="flag-icon flag-icon-{% if language.code == "en"%}gb{% else %}{{ language.code }}{% endif %}"></span> {{ language.name }}' value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
											({{ language.code }})
									</option>
								{% endfor %}
							</select>
							<noscript><input type="submit" value="Go" class="btn btn-default"></noscript>
						</form>
					</li>
					<li>
						{% if user.is_staff %}
						<a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#">{{CONFERENCE_NAME}} {{active_year}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
						{% for year in all_years %}
							<li><a href="#" data-year="{{year}}" class="multiYear-selector">{{year}}</a></li>
						{% endfor %}
						</ul>

						{% else %}
						<a class="navbar-brand" href="/">{{CONFERENCE_NAME}} {{active_year}}</a>
						{% endif %}
					</li>
					</ul>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							{% if user.is_authenticated %}
							<li><a href="/">{% trans 'text_link_overview' %}</a></li>
							<li><a href="https://login.make-munich.de/module.php/selfregister/reviewUser.php">{% trans 'text_link_profile' %}</a></li>
							{% endif %}
							{% if user.is_authenticated and user.is_staff %}
								<li class="divider divider-vertical"></li>
								<li><a href="/accounts/list">{% trans 'text_link_users' %}</a></li>
								<li><a href="/projects/list">{% trans 'text_link_projects' %}</a></li>
							{% endif %}
						</ul>
						{% if user.is_authenticated %}
						<p class="navbar-right navbar-text">
								{% trans 'text_loggedin' %} {{user.username}} (<a href="/saml2/logout"><span style="color: #999" class="glyphicon glyphicon-off"></span> Logout</a>)
						</p>
						{% endif %}
					</div>
				</div>
			</nav>
			<div class="container" style="padding-bottom: 60px;">
				{% block content %}No Content{% endblock %}
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<span class="pull-left" style="margin-top: 20px; margin-right: 5px">
					Make-Munich SaBoT is a fork of <a href="https://github.com/froscon/SaBoT" target="_blank">FrOSCon SaBoT</a> and is
					<a href="https://www.djangoproject.com/" target="_blank"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" alt="Made with Django." title="Made with Django." /></a>
				</span>
				<div class="pull-right">
					<span class ="pull-left" style="margin-top: 20px"><a href="https://www.make-munich.de" target="_blank">www.make-munich.de</a></span>
					<img src="{{STATIC_URL}}MakeMunich_logo_blue_40x120.png" class="pull-left" style="margin-top: 5px; margin-left:10px; height: 50px" />
				</div>
			</div>
		</div>
	</body>
</html>

