{% load i18n %}
<div class="page-header">
	<h2>{% trans 'text_link_project' %} <small>{{object.projectName}}</small></h2>
</div>
{% if object.accepted %}
	<div class="alert alert-success">
		{% trans 'text_project_accepted' %}
	</div>
{% elif object.createDate > reg_deadline_booth %}
	<div class="alert alert-danger">
		{% trans 'text_project_registered_on' %} {{object.createDate|date:"d.m.Y"}}. {% trans 'text_after_reg_deadline' %} ({{reg_deadline_booth|date:"d.m.Y"}}). {% trans 'text_note_accept' %}
	</div>
{% endif %}
