{% extends "master.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="page-header">
	<h2>{% trans 'text_register_new' %}</h2>
</div>
{% if date_today > reg_deadline_booth %}
	<div class="alert alert-danger">
		{% blocktrans %}The registration deadline was the {{reg_deadline_booth|date:"d.m.Y"}}. Please contact us by email if you still want to register a project. However, we may not be able to accept your project this year.{% endblocktrans %}
	</div>
{% endif %}

{% crispy form form.helper%}


{% endblock %}
