{% extends "master.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
	<h2>{% trans 'text_list_projects' %} ({{object_list|length}})</h2>
</div>
<ul class="nav nav-pills">
	<li class="active">
		<a href="#">{% trans 'text_information_view' %}</a>
	</li>
	<li><a href="{% url 'project_list_planning' %}">{% trans 'text_planning_view' %}</a></li>
	<li class="pull-right"><a href="{% url 'project_export_xml' %}" data-toggle="tooltip" title="{% trans 'text_download_xml' %}">{% trans 'text_xml_export' %}</a></li>
	<li class="pull-right"><a href="{% url 'project_export_adminmail' %}" data-toggle="tooltip" title="{% trans 'text_download_adminmail' %}">{% trans 'text_organizer_mails' %}</a></li>
	<li class="pull-right"><a href="{% url 'project_export_allmail' %}" data-toggle="tooltip" title="{% trans 'text_download_allmail' %}">{% trans 'text_participants_mail' %}</a></li>
</ul>
<div class="controls">
	<label for="show-only-accepted" class="checkbox"><input id="show-only-accepted" class="checkboxinput" type="checkbox" /> {% trans 'text_show_only_accepted' %}</label>
</div>
<table class="table table-striped table-bordered table-hover tablesorter">
	<thead>
		<tr>
			<th>Project name</th>
			<th>Main Contact</th>
			<th>E-Mail</th>
			<th>Provided information</th>
			<th>Last modified</th>
			<th>Creation date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for project in object_list %}
			<tr{% if project.accepted %} class="success"{% elif project.createDate > reg_deadline_booth %} class="danger"{% endif %}>
				<td>{{project.projectName}}</td>
				<td>{{project.owner.first_name}} {{project.owner.last_name}}</td>
				<td>{{project.owner.email}}</td>
				<td>
					{% if project.descriptionDE != "" and project.descriptionEN != "" %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Texts in DE and EN available"><span class="glyphicon glyphicon-globe"></span></a>{% endif %}
					{% if project.boothNumTables and project.boothNumChairs and project.boothPower and project.boothArea %}<a href="{% url 'project_update_booth' pk=project.pk %}" data-toggle="tooltip" title="Booth information available"><span class="glyphicon glyphicon-home"></span></a>{% endif %}
					{% if project.participants.all %}<a href="{% url 'project_participants' pk=project.pk %}" data-toggle="tooltip" title="Participants available"><span class="glyphicon glyphicon-user"></span></a>{% endif %}
				</td>
				<td>{{project.modifyDate|date:"j.n.Y"}}</td>
				<td>{{project.createDate|date:"j.n.Y"}}</td>
				<td>
					{% if project.accepted %}
						<form action="{% url 'project_unaccept' pk=project.pk %}" method="POST" style="display: inline">
							{% csrf_token %}
							<label for="unaccept-{{project.pk}}" style="display: inline"><span data-toggle="tooltip" title="Set this project to not accepted" class="glyphicon glyphicon-thumbs-down"></i></label>
							<input type="submit" id="unaccept-{{project.pk}}" style="display: None" />
						</form>
					{% else %}
						<form action="{% url 'project_accept' pk=project.pk %}" method="POST" style="display: inline">
							{% csrf_token %}
							<label for="accept-{{project.pk}}" style="display: inline"><span data-toggle="tooltip" title="Accept this project" class="glyphicon glyphicon-thumbs-up"></span></label>
							<input type="submit" id="accept-{{project.pk}}" style="display: None" />
						</form>
					{% endif %}
					<a href="{% url 'project_update_general' pk=project.pk %}" data-toggle="tooltip" title="Edit project information"><span class="glyphicon glyphicon-edit"></span></a>
					<a href="{% url 'project_del' pk=project.pk %}" data-toggle="tooltip" title="Delete this project"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</tbody>

</table>

<script>
	$(document).ready(function () {
		$(".tablesorter").tablesorter({ sortList: [[0,0]], headers : { 3 : { sorter: false}, 6 : {sorter : false}, 4 : {sorter : "eudate"}, 5 : {sorter : "eudate"}}});

		$("#show-only-accepted").change(function () {
			if ($(this).prop("checked")) {
				$("tbody > tr:not(.success)").hide();
			}
			else {
				$("tbody > tr:not(.success)").show();
			}
		});
	});
</script>

{% endblock %}
