{% extends "master.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
	<h2>List of projects ({{object_list|length}})</h2>
</div>
<ul class="nav nav-pills">
	<li>
		<a href="{% url 'project_list' %}">Information View</a>
	</li>
	<li class="active"><a href="#">Planning View</a></li>
</ul>
<div class="controls">
	<label for="show-only-accepted" class="checkbox"><input id="show-only-accepted" class="checkboxinput" type="checkbox" /> Show only accepted projects</label>
</div>
<table class="table table-striped table-bordered table-hover tablesorter">
	<thead>
		<tr>
			<th>Project name</th>
			<th>Contact</th>
			<th>Location</th>
			<th>Tables</th>
			<th>Chairs</th>
            <th>Power</th>
            <th>Area</th>
			<th>Provided information</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for project in object_list %}
			<tr{% if project.accepted %} class="success"{% elif project.createDate > reg_deadline_booth %} class="danger"{% endif %}>
				<td>{{project.projectName}}</td>
				<td>{{project.owner.first_name}} {{project.owner.last_name}}</td>
				<td>
					{% if project.boothPreferedLocation == 0 %}
						No preference
					{% elif project.boothPreferedLocation == 1 %}
						Mensa
					{% elif project.boothPreferedLocation == 2 %}
						First floor
					{% endif %}
				</td>
				<td>{{project.boothNumTables}}</td>
				<td>{{project.boothNumChairs}}</td>
                <td>{{project.boothPower}}</td>
                <td>{{project.boothArea}}</td>
				<td>
					{% if project.descriptionDE != "" and project.descriptionEN != "" %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Texts in DE and EN available"><span class="glyphicon glyphicon-globe"></span></a>{% endif %}
					{% if project.boothNumTables and project.boothNumChairs and project.boothPower and project.boothArea %}<a href="{% url 'project_update_booth' pk=project.pk %}" data-toggle="tooltip" title="Booth information available"><span class="glyphicon glyphicon-home"></span></a>{% endif %}
					{% if project.participants.all %}<a href="{% url 'project_participants' pk=project.pk %}" data-toggle="tooltip" title="Participants available"><span class="glyphicon glyphicon-user"></span></a>{% endif %}
					<td>
						<a href="{% url 'project_update_general' pk=project.pk %}" data-toggle="tooltip" title="Edit project information"><span class="glyphicon glyphicon-edit"></span></a>
					</td>
			</tr>
		{% endfor %}
	</tbody>

</table>

<script>
	$(document).ready(function () {
		$(".tablesorter").tablesorter({ sortList: [[0,0]], headers : { 6 : { sorter: false}}});

		$("#show-only-accepted").change(function () {
			if ($(this).prop("checked")) {
				$("tbody > tr:not(.success)").hide();
			}
			else {
				$("tbody > tr:not(.success)").show();
			}
		});
	});
</script>

{% endblock %}
