{% extends "master.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load formstyle %}

{% block content %}

{% include "project/alltabshead.html" %}

<ul class="nav nav-tabs nav-tabs-bordered">
	<li><a href="{% url 'project_update_general' pk=project.pk %}">{% trans 'text_link_general' %}</a><li>
	<li><a href="{% url 'project_update_texts' pk=project.pk %}">{% trans 'text_link_project' %}</a><li>
	<li><a href="{% url 'project_update_service' pk=object.pk %}">{% trans 'text_link_service' %}</a><li>
	<li><a href="{% url 'project_update_booth' pk=project.pk %}">{% trans 'text_link_booth' %}</a><li>
	<li><a href="{% url 'project_update_talk' pk=object.pk %}">{% trans 'text_link_talk' %}</a><li>
	<li><a href="{% url 'project_update_workshop' pk=object.pk %}">{% trans 'text_link_workshop' %}</a><li>
	<li class="active"><a href="#">{% trans 'text_link_participants' %}</a><li>
</ul>

<div class="tab-content tab-bordered">
	<div class="tab-pane active" id="participants">
		<div class="row">
			<div class="col-md-8">
				<p>{% trans 'text_participants_enter' %}</p>

				<p class="text-info">{% trans 'text_participants_info1' %}</p>

				<p class="text-info">{% trans 'text_participants_info2' %}</p>

			</div>
		</div>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>{% trans 'text_participants_firstname' %}</th>
					<th>{% trans 'text_participants_lastname' %}</th>
					<th>{% trans 'text_participants_email' %}</th>
					<th>{% trans 'text_participants_attributes' %}</th>
					<th>{% trans 'text_participants_actions' %}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{project.owner.first_name}}</td>
					<td>{{project.owner.last_name}}</td>
					<td>{{project.owner.email}}</td>
					<td>
						<a href="#" data-toggle="tooltip" title="{% trans 'text_participants_account_activated' %}"><span class="glyphicon glyphicon-user"></span></a>
						<a href="#" data-toggle="tooltip" title="{% trans 'text_participants_edit' %}"><span class="glyphicon glyphicon-star"></span></a>
					</td>
					<td></td>
				</tr>

				</tr>
				{% for part in participants_list %}
				<tr>
					<td>{{part.user.first_name}}</td>
					<td>{{part.user.last_name}}</td>
					<td>{{part.user.email}}</td>
					<td>
						{% if part.user.is_active %}
							<a href="#" data-toggle="tooltip" title="{% trans 'text_participants_account_activated' %}"><span class="glyphicon glyphicon-user"></span></a>
						{% endif %}
						{% if part.isAdmin %}
							<a href="#" data-toggle="tooltip" title="{% trans 'text_participants_edit' %}"><span class="glyphicon glyphicon-star"></span></a>
						{% endif %}
					</td>
					<td>
						{% if not readonly %}
						<form action="{% url 'project_participants_delete' pk=part.pk %}" method="POST" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="{% trans 'text_participants_remove' %}"><span class="glyphicon glyphicon-remove"></span></button>
						</form>
						{% if part.isAdmin %}
							<form action="{% url 'project_participants_revoke_admin' pk=part.pk %}" method="post" style="display: inline">
								{% csrf_token %}
								<button data-toggle="tooltip" title="{% trans 'text_participants_edit_remove' %}"><span class="glyphicon glyphicon-star-empty"></span></button>
							</form>
						{% else %}
							<form action="{% url 'project_participants_make_admin' pk=part.pk %}" method="post" style="display: inline">
								{% csrf_token %}
								<button data-toggle="tooltip" title="{% trans 'text_participants_edit_enable' %}"><span class="glyphicon glyphicon-star"></span></button>
							</form>
						{% endif %}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				{% if not readonly %}
				<form method="POST">
					<tr>
						<td>{{form.first_name|cssclass:"form-control"}}</td>
						<td>{{form.last_name|cssclass:"form-control"}}</td>
						<td><div {% if form.email.errors %}class="form-group has-error"{% endif %}>{{form.email|cssclass:"form-control"}}</div></td>
						<td></td>
						<td>{% csrf_token %}<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button></td>
					</tr>
				</form>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
